@model TorneoSolar.Models.Equipo

@{
    ViewData["Title"] = "Eliminar Equipo";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container mt-4">
    <h2 class="text-primary">🗑️ Eliminar Equipo</h2>
    <hr />
    <h3>¿Está seguro que desea eliminar este equipo?</h3>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-9">
            <img src="@Model.Logo" alt="Logo de @Model.Nombre" class="img-thumbnail" style="max-width: 100px;" />
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="EquipoId" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

