@model TorneoSolar.Models.Partido

@{
    ViewData["Title"] = "Eliminar Partido";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container mt-4">
    <h2 class="text-primary">🗑️ Eliminar Partido</h2>
    <hr />
    <h3>¿Está seguro que desea eliminar este partido?</h3>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LocalEquipo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LocalEquipo.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.VisitanteEquipo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VisitanteEquipo.Nombre)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="PartidoId" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index1" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
