@model TorneoSolar.Models.Noticias

@{
    ViewData["Title"] = "Eliminar Noticia";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container mt-4">
    <h2 class="text-primary">🗑️ Eliminar Noticia</h2>
    <hr />
    <h3>¿Está seguro que desea eliminar esta noticia?</h3>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-9">
            @if (Model.Imagen != null)
            {
                <img src="@Model.Imagen" alt="Imagen de la noticia" class="img-thumbnail" />
            }
            else
            {
                <span>No image available</span>
            }
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="NoticiasId" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

