@model TorneoSolar.Models.EstadisticasJugadore

@{
    ViewData["Title"] = "Eliminar Estadística de Jugador";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container mt-4">
    <h2 class="text-primary">🗑️ Eliminar Estadística de Jugador</h2>
    <hr />
    <h3>¿Está seguro que desea eliminar esta estadística?</h3>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Puntos)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Puntos)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Rebotes)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Rebotes)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Asistencias)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Asistencias)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Bloqueos)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Bloqueos)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Robos)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Robos)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MinutosJugados)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MinutosJugados)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Jugador)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Jugador.JugadorId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Partido)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Partido.PartidoId)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="EstadisticaId" />
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>


